.footer {

    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(23px) 0;
    background: #fff;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
    }
}