.ingredients-ingredient {
    position: relative;
    background: $blue;
    border-radius: 5px;
    width: rem(91px);
    height: rem(91px);
    cursor: pointer;
    color: #fff;
    text-align: center;
    align-items: center;
    margin-bottom: rem(20px);

    &:hover {
        background: #60aacc;
    }

    &:hover .ingredients__list {
        visibility: visible;      
    }
  }


.ingredients__list {
    width: rem(270px);
    height: rem(344px);
    opacity: 0.9;
    border-radius: rem(4px);
    padding: rem(25px) rem(20px);
    background: #fff;
    color: #000000;
    position: absolute;
    left: 100%;
    top: 0;
    visibility: hidden;
}

.ingredients__icon {
    width: rem(46px);
    height: rem(46px);
    margin-top: rem(10px);
    fill: #fff;
}

.item__logo {
    width: rem(18px);
    height: rem(18px); 
    margin-right: rem(20px); 
}

.item {
    display: inline-flex;
    align-items: center;
    margin-bottom: rem(28px);

    &:last-child {
    margin-bottom: 0;
    }
}

.item__text {
    width: rem(120px);
    height: rem(24px);
    text-align: start;
}

.item__value {
    width: rem(53px);
    height: rem(24px);
    text-align: end;
}